@body-bg:               #F6F6F6;
@text-color:            #333;

// Brand colors
// -------------------------

@brand-primary:         #2494F2;
@brand-success:         spin(#5cb85c, -10);
@brand-warning:         spin(#f0ad4e, -15);
@brand-danger:          #D9534F;
@brand-info:            #5BC0DE;

@font-size-base:          12px;
@font-size-h1:            floor((@font-size-base * 2.6)); // ~36px
@font-size-h2:            floor((@font-size-base * 2.15)); // ~30px
@font-size-h3:            ceil((@font-size-base * 1.7)); // ~24px
@font-size-h4:            ceil((@font-size-base * 1.25)); // ~18px
@font-size-h5:            @font-size-base;
@font-size-h6:            ceil((@font-size-base * 0.85)); // ~12px

@btn-default-color:              #FFF;
@btn-default-bg:                 #444;
@btn-default-border:             darken(@btn-default-bg, 10%);

@navbar-default-color:             #ADADAD;
@navbar-default-bg:                #2E2E2E;
@navbar-default-border:            transparent;
@navbar-border-radius:             3px;

@navbar-default-toggle-hover-bg:   #444;

// Navbar links
@navbar-default-link-color:                #ADADAD;
@navbar-default-link-hover-color:          #FFF;
@navbar-default-link-hover-bg:             darken(#3A3A3A, 5%);
@navbar-default-link-active-color:         #FFF;
@navbar-default-link-active-bg:            darken(@navbar-default-bg, 10%);
@navbar-default-link-disabled-color:       #ccc;
@navbar-default-link-disabled-bg:          transparent;

// Inverted navbar
//
// Reset inverted navbar basics
@navbar-inverse-color:                      white;
@navbar-inverse-bg:                         @brand-primary;
@navbar-inverse-border:                     transparent;

// Inverted navbar links
@navbar-inverse-link-color:                 white;
@navbar-inverse-link-hover-color:           lighten(@brand-primary, 40%);
@navbar-inverse-link-hover-bg:              lighten(@navbar-inverse-bg, 5%);
@navbar-inverse-link-active-color:          @navbar-inverse-link-hover-color;
@navbar-inverse-link-active-bg:             lighten(@navbar-inverse-bg, 10%);
@navbar-inverse-link-disabled-color:        lighten(@brand-primary, 40%);
@navbar-inverse-link-disabled-bg:           transparent;

// Inverted navbar brand label
@navbar-inverse-brand-color:                @navbar-inverse-link-color;
@navbar-inverse-brand-hover-color:          #fff;
@navbar-inverse-brand-hover-bg:             transparent;

// Inverted navbar search
// Normal navbar needs no special styles or vars
@navbar-inverse-search-bg:                  lighten(@navbar-inverse-bg, 25%);
@navbar-inverse-search-bg-focus:            #fff;
@navbar-inverse-search-border:              @navbar-inverse-bg;
@navbar-inverse-search-placeholder-color:   #ccc;

// Inverted navbar toggle
@navbar-inverse-toggle-hover-bg:            lighten(@navbar-inverse-bg, 5%);
@navbar-inverse-toggle-icon-bar-bg:         #FFF;
@navbar-inverse-toggle-border-color:        lighten(@brand-primary, 40%);

@list-group-link-color:          @brand-primary;
@list-group-link-heading-color:  #333;

// Components
// -------------------------
// Based on 14px font-size and 1.428 line-height (~20px to start)

@padding-base-vertical:          8px;
@padding-base-horizontal:        12px;

@padding-large-vertical:         14px;
@padding-large-horizontal:       16px;

@padding-small-vertical:         5px;
@padding-small-horizontal:       10px;

@line-height-large:              1.33;
@line-height-small:              1.5;

@border-radius-base:             0px;
@border-radius-large:            0px;
@border-radius-small:            0px;

@component-active-bg:            @brand-primary;

@caret-width-base:               4px;
@caret-width-large:              5px;

// Alerts
// -------------------------
@alert-padding:               15px;
@alert-link-font-weight:      bold;

@alert-success-bg:            #DBF6D3;


@alert-info-bg:               #D9EDF7;
@alert-info-text:             #3A87AD;
@alert-info-border:           #98CCE6;

@alert-warning-bg:            #FCF8E3;


@alert-danger-bg:             #F2DEDE;


// Typography
// -------------------------

@font-family-sans-serif:  'Open Sans', Helvetica, Arial, sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;
@font-family-monospace:   Monaco, Menlo, Consolas, "Courier New", monospace;
@font-family-base:        @font-family-sans-serif;

@font-size-base:          14px;
@font-size-large:         ceil(@font-size-base * 1.25); // ~18px
@font-size-small:         ceil(@font-size-base * 0.85); // ~12px

@line-height-base:        1.428571429; // 20/14
@line-height-computed:    floor(@font-size-base * @line-height-base); // ~20px

@headings-font-family:    @font-family-base;
@headings-font-weight:    300;
@headings-line-height:    1.1;

// Iconography
// -------------------------

@icon-font-path:          "../../bower_components/bootstrap/fonts/";
@icon-font-name:          "glyphicons-halflings-regular";
