<div layout="column" layout-align="center center" layout-fill flex>
    <div class="modal-dialog animated fadeIn" data-ng-cloak>
        <div class="modal-content md-whiteframe-z1">
            <div class="modal" style="position: static; margin: 0 auto; display: block; overflow-y: auto;">
                <div class="modal-header">
                    <h1 class="modal-title">
                        {{ 'Recover Account' | trans({}, 'FOSUserBundle') }}
                        <small>{{ 'Check your email.' | trans({}, 'ZymUserBundle') }}</small>
                    </h1>
                </div>

                <div class="modal-body">
                    <div class="media">
                        <span class="glyphicon glyphicon-info-sign text-info media-object pull-left" style="font-size: 300%;"></span>

                        <div class="media-body">
                            <p>{{ 'resetting.check_email' |trans({ '%email%': email }, 'FOSUserBundle') }}</p>
                        </div>
                    </div>
                </div>

                <div class="modal-footer" layout="column">
                    <div layout="row" layout-align="end">
                        <md-button class="md-primary" href="{{ path('fos_user_security_login') }}" data-ng-disabled="loading">
                            <span class="activity" data-ng-if="loading"></span>
                            {{ 'Go to the login' | trans({}, 'ZymUserBundle') }}
                        </md-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>