<div layout="column" layout-align="center center" layout-fill flex>
    <div class="modal-dialog" ng-controller="ResettingRequestCtrl" data-ng-class="{'animated shake': error, 'animated fadeIn': error == null && !loading, 'animated bounceOut': success}" ng-cloak>
        <div class="modal-content md-whiteframe-z1">
            <form name="resquestForm" class="fos_user_resetting_request" novalidate ng-submit="request($event)">
                <div class="modal" style="position: static; margin: 0 auto; display: block; overflow-y: auto;">
                    <div class="modal-header">
                        <h1 class="modal-title">
                            {{ 'Recover Account' | trans({}, 'FOSUserBundle') }}
                            <small>{{ 'Forgot your login?' | trans({}, 'ZymUserBundle') }}</small>
                        </h1>
                    </div>

                    <div class="modal-body">
                        {% if invalid_username is defined  %}
                            <div class="alert alert-danger alert-dismissable" data-ng-if="error" data-ng-class="{'animated fadeIn': error}">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <span class="glyphicon glyphicon-minus-sign"></span>
                                {{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}
                            </div>
                        {% endif %}

                        <div class="alert alert-danger alert-dismissable" data-ng-if="error" data-ng-class="{'animated fadeIn': error}">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <span class="glyphicon glyphicon-minus-sign"></span>
                            {% verbatim %}{{ error }}{% endverbatim %}
                        </div>

                        <md-input-container>
                            <label>{{ 'resetting.request.username'|trans({}, 'FOSUserBundle') }}</label>

                            <input type="text" id="username" name="username" ng-model="username" ng-disabled="loading" required {% if invalid_username is defined %}value="{{ invalid_username |e }}"{% endif %} autofocus />
                            <div ng-messages="requestForm.username.$error" ng-if="requestForm.$dirty || requestForm.$submitted">
                                <div ng-message="required">This is required</div>
                            </div>
                        </md-input-container>
                    </div>

                    <div class="modal-footer" layout="column">
                        <div layout="row" layout-align="end">
                            <md-button href="#" go-back>
                                {{ 'Cancel' | trans({}, 'ZymUserBundle') }}
                            </md-button>

                            <md-button class="md-primary" type="submit" id="_submit" name="_submit" data-ng-disabled="loading">
                                <span class="activity" data-ng-if="loading"></span>
                                {{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}
                            </md-button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>