<div layout="column" layout-align="center center" layout-fill flex>
    <div class="modal-dialog" data-ng-controller="ResettingResetCtrl" data-ng-class="{'animated shake': error, 'animated fadeIn': error == null && !loading, 'animated bounceOut': success}" data-ng-cloak>
        <div class="modal-content md-whiteframe-z1">
            <div class="modal" style="position: static; margin: 0 auto; display: block; overflow-y: auto;">
                <form name="resetForm" class="form-horizontal fos_user_resetting_reset" novalidate ng-submit="submit($event)">
                    <div class="modal-header">
                        <h1>
                            {{ 'Recover Account' | trans({}, 'FOSUserBundle') }}
                            <small>{{ 'Reset your password.' | trans({}, 'ZymUserBundle') }}</small>
                        </h1>
                    </div>

                    <div class="modal-body">
                        <div class="alert alert-danger alert-dismissable" data-ng-if="error" data-ng-class="{'animated fadeIn': error}">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <span class="glyphicon glyphicon-minus-sign"></span>
                            {% verbatim %}{{ error }}{% endverbatim %}
                        </div>

                        <md-input-container>
                            <label>{{ 'form.password'|trans({}, 'FOSUserBundle') }}</label>
                            <input type="password" name="password" ng-model="password" required autofocus />

                            <div ng-messages="resetForm.password.$error" ng-if="resetForm.password.$dirty || resetForm.password.$submitted">
                                <div ng-message="required">This is required</div>
                            </div>
                        </md-input-container>

                        <md-input-container>
                            <label>{{ 'form.password_confirmation'|trans({}, 'FOSUserBundle') }}</label>
                            <input type="password" name="confirmPassword" ng-model="confirmPassword" required compare-to="password" />

                            <div ng-messages="resetForm.confirmPassword.$error" ng-if="resetForm.confirmPassword.$dirty || resetForm.confirmPassword.$submitted">
                                <div ng-message="required">This is required</div>
                                <div ng-message="compareTo">Passwords are not the same</div>
                            </div>
                        </md-input-container>
                    </div>

                    <div class="modal-footer" layout="column">
                        <div layout="row" layout-align="end">
                            <md-button class="md-primary" type="submit" id="_submit" name="_submit" ng-disabled="loading">
                                <span class="activity" data-ng-if="loading"></span>
                                {{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}
                            </md-button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>