<div layout="column" layout-align="center center" layout-fill flex>
    <div class="modal-dialog" data-ng-controller="LoginCtrl" ng-class="{'animated shake': error, 'animated zoomIn': error == null && !loading, 'animated bounceOutUp': success}" ng-cloak>
        <div class="modal-content md-whiteframe-z1">
            <form name="loginForm"  class="form-horizontal" novalidate ng-submit="login($event)">
                <div class="modal" style="position: static; margin: 0 auto; display: block; overflow-y: auto;">
                    <div class="modal-header">
                        <h1 class="modal-title">
                            {{ 'Login with your account' | trans({}, 'FOSUserBundle') }}
                        </h1>
                    </div>

                    <div class="modal-body">
                        {% if error %}
                            <div class="alert alert-danger alert-dismissable" ng-class="{'animated fadeIn': error}">
                                <span class="glyphicon glyphicon-minus-sign"></span>
                                {{ error }}
                            </div>
                        {% endif %}

                        <div class="alert alert-danger alert-dismissable" ng-if="error" ng-class="{'animated fadeIn': error}">
                            <span class="glyphicon glyphicon-minus-sign"></span>
                            {% verbatim %}{{ error }}{% endverbatim %}
                        </div>

                        <md-input-container flex>
                            <label>{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
                            <input type="text" id="username" name="_username" data-ng-model="username" ng-disabled="loading" value="{{ last_username }}" required autofocus />

                            <div ng-messages="loginForm._username.$error" ng-if="loginForm.$dirty || loginForm.$submitted">
                                <div ng-message="required">This is required</div>
                            </div>
                        </md-input-container>

                        <md-input-container flex>
                            <label>{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                            <input class="form-control" type="password" id="password" name="_password" ng-model="password" ng-disabled="loading" />
                        </md-input-container>
                    </div>

                    <div class="modal-footer" layout="row">
                        <md-checkbox ng-model="rememberMe" ng-disabled="loading" ng-true-value="'on'" aria-label="{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}">
                            {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                        </md-checkbox>

                        <span flex></span>

                        <md-button type="submit" class="md-primary" id="_submit" name="_submit" ng-disabled="loading" ng-class="{'btn-labeled': loading}">
                            <span class="btn-label" ng-if="loading">
                                <i class="fa" ng-class="{'fa-spinner fa-spin': loading, 'fa-unlock-alt': !loading}"></i>
                            </span>

                            {{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}
                        </md-button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <md-button class="reset-request text-white"
               href="{{ path('fos_user_resetting_request') }}"
               ng-class="{'animated fadeIn': error == null && !loading, 'animated bounceOutUp': success}" ng-cloak>
        {{ 'Forgot your username or password?' |trans({}, 'FOSUserBundle') }}
    </md-button>
</div>