<div class="md-toolbar-fixed-container" layout="column" layout-fill>
    <md-toolbar class="md-whiteframe-z1">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" type="button" onclick="history.back();">
                <md-icon md-font-library="material-icons">arrow_back</md-icon>
            </md-button>

            <h2>{{ 'Create a new user' | trans({}, 'ZymUserBundle') }}</h2>
            <span flex></span>

            <md-button class="md-icon-button" type="submit">
                <md-icon md-font-library="material-icons">create</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-content flex>
        <div class="container-fluid">
            <form class="form-horizontal" action="{{ path('zym_user_users_add') }}" method="post" {{ form_enctype(form) }}>
                <div class="panel-body">
                    <fieldset>
                        <legend>{{ 'User Information' | trans({}, 'ZymUserBundle') }}</legend>

                        {% if form.children.firstName is defined  %}
                        {{ form_row(form.firstName) }}
                        {{ form_row(form.middleName) }}
                        {{ form_row(form.lastName) }}
                        {% endif %}

                        {% if form.children.name is defined %}
                        {{ form_row(form.children.name) }}
                        {% endif %}

                        {% if form.children.username is defined %}
                        {{ form_row(form.username) }}
                        {% endif %}

                        {{ form_row(form.email) }}
                        {{ form_row(form.plainPassword) }}
                    </fieldset>

                    <fieldset>
                        <legend>{{ 'Groups and Permissions' | trans({}, 'ZymUserBundle') }}</legend>
                        {{ form_row(form.groups) }}
                        {{ form_row(form.roles) }}
                    </fieldset>

                    <fieldset>
                        <legend>{{ 'Miscellaneous' | trans({}, 'ZymUserBundle') }}</legend>
                        {{ form_rest(form) }}
                    </fieldset>
                </div>
                <div class="panel-footer" hide-gt-md>
                    <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-file"></span> {{ 'Create' | trans({}, 'ZymUserBundle') }}</button>
                    <button class="btn btn-link" type="button" onclick="history.back();">{{ 'Cancel' | trans({}, 'ZymUserBundle') }}</button>
                </div>
            </form>
        </div>
    </md-content>
</div>