{% extends "ZymUserBundle::layout.html.twig" %}

{% block title %}{{ 'Users' | trans({}, 'ZymUserBundle') }}{% endblock %}

{% block content %}
    {% if app.request.query.has('_escaped_fragment_') %}
        {% embed 'ZymUserBundle:Users:layout.ajax.twig' %}
            {% block content %}
                {% include 'ZymUserBundle:Users:list.ajax.twig' %}
            {% endblock %}
        {% endembed %}
    {% else %}
        <script type="text/ng-template" id="{{ path('zym_user_users_layout', { '_format': 'ajax' }) }}">
            {% include 'ZymUserBundle:Users:layout.ajax.twig' %}
        </script>
        <script type="text/ng-template" id="{{ path('zym_user_users', { '_format': 'ajax' }) }}">
            {% include 'ZymUserBundle:Users:list.ajax.twig' %}
        </script>
    {% endif %}
{% endblock %}
