<ui-view>
    <div class="md-toolbar-fixed-container" layout="column" layout-fill ng-controller="ZymUsersCtrl">
        <md-toolbar class="md-tall md-whiteframe-z1" ng-show="!showSearch">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button animated bounceIn" aria-label="Toggle navigation" hide-gt-md ng-click="toggleSidebar()">
                    <md-icon md-font-library="material-icons">menu</md-icon>
                </md-button>

                <span flex></span>

                <md-button class="md-icon-button animated bounceIn" aria-label="Search" ng-click="showSearch = !showSearch">
                    <md-icon md-font-library="material-icons" md-menu-origin>search</md-icon>
                </md-button>

                <md-menu md-position-mode="target-right target">
                    <md-button class="md-icon-button animated bounceIn" aria-label="More options" ng-click="$mdOpenMenu()">
                        <md-icon md-font-library="material-icons" md-menu-origin>more_vert</md-icon>
                    </md-button>

                    <md-menu-content>
                        <md-menu-item>
                            <md-button>
                                <md-icon md-svg-icon="call:dialpad" md-menu-align-target></md-icon>
                                Redial
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>

            <span flex></span>

            <div class="md-toolbar-tools">
                <h1>{{ 'Users' | trans({}, 'ZymUserBundle') }}</h1>

                <span flex></span>

                <span ng-show="!loading" ng-class="{'animated fadeIn': !loading}">
                    {% verbatim%}{{ users.length }}{% endverbatim %} {{ 'of' | trans({}, 'ZymUserBundle') }} {% verbatim %}{{ totalItems }}{% endverbatim %} {{ 'users' | trans({}, 'ZymUserBundle') }}
                </span>
            </div>
        </md-toolbar>

        <md-toolbar class="md-whiteframe-z1 md-hue-1" ng-show="showSearch">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" ng-click="showSearch = !showSearch" aria-label="Back">
                    <md-icon md-font-library="material-icons">arrow_back</md-icon>
                </md-button>

                <md-input-container md-theme="input" flex>
                    <label>&nbsp;</label>
                    <input ng-model="search.query" placeholder="Search">
                </md-input-container>

                <md-button class="md-icon-button" aria-label="Clear" ng-click="search.query = ''" ng-if="search.query">
                    <md-icon md-font-library="material-icons">clear</md-icon>
                </md-button>

                <md-button class="md-icon-button" aria-label="Search" ng-click="showSearch = !showSearch" ng-if="!search.query">
                    <md-icon md-font-library="material-icons">search</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-button class="md-fab md-fab-bottom-right md-accent animated bounceIn" aria-label="Add" ng-click="$state.go('admin.people.users.add')">
            <md-tooltip>Create a new user</md-tooltip>

            <md-icon md-font-library="material-icons">add</md-icon>
        </md-button>

        <md-content flex>
            <md-list>
                <md-list-item class="md-2-line" ng-repeat="user in users track by user.id"
                              ng-class="{'animated slideInUp': !loading}"
                              ng-click="$state.go('admin.people.users.show', { id: user.id })">
                    <img class="img-circle md-avatar" alt="{% verbatim %}{{ user.fullName ? user.fullName : user.email ? user.email : user.username }}{% endverbatim %}"
                         gravatar-src="user.emailCanonical" gravatar-size="30" />

                    <div class="md-list-item-text">
                        <h4 class="media-heading">{% verbatim %}{{ user.fullName ? user.fullName : user.email ? user.email : user.username }}{% endverbatim %}</h4>
                        <p>Last login</p>
                    </div>

                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
            </md-list>

            <p ng-if="!users.length" ng-show="!loading" ng-class="{'animated fadeIn': !loading}">
                {{ 'No users added yet.' | trans({}, 'ZymUserBundle') }}

                {% if is_granted('CREATE', ['class', 'Zym\\Bundle\\UserBundle\\Entity\\User']) %}
                <a class="" href="{{ path('zym_user_users_add') }}">{{ 'Create a user.' | trans({}, 'ZymUserBundle') }}</a>
                {% endif %}
            </p>

            <div class="text-center">
                <pager ng-change="pageChanged()" total-items="totalItems" ng-model="page" items-per-page="limit" boundary-links="true" ng-show="!loading && totalItems > limit" ng-class="{'animated fadeInUp': !loading}"></pager>
            </div>
        </md-content>
    </div>
</ui-view>
