{% extends "ZymUserBundle::layout.html.twig" %}

{% block title %}{{ 'Viewing User' | trans({}, 'ZymUserBundle') }} {{ user.fullName is defined ? user.fullName : user.username |e }}{% endblock %}

{% block content %}
    {% if app.request.query.has('_escaped_fragment_') %}
        {% embed 'ZymUserBundle:Users:layout.ajax.twig' %}
            {% block content %}
                {% include 'ZymUserBundle:Users:show.ajax.twig' %}
            {% endblock %}
        {% endembed %}
    {% else %}
        <script type="text/ng-template" id="{{ path('zym_user_users_layout', { '_format': 'ajax' }) }}">
            {% include 'ZymUserBundle:Users:layout.ajax.twig' %}
        </script>
        <script type="text/ng-template" id="{{ path('zym_user_users_show', { 'id': user.id, '_format': 'ajax' }) }}">
            {% include 'ZymUserBundle:Users:show.ajax.twig' %}
        </script>
    {% endif %}
{% endblock %}
