{% extends "ZymResqueBundle::layout.html.twig" %}

{% block title %}{{ 'Resque Failures' | trans({}, 'ZymResqueBundle') }}{% endblock %}

{% block content %}
    {% if app.request.query.has('_escaped_fragment_') %}
        {% include 'ZymResqueBundle:Failures:index.ajax.twig' %}
    {% else %}
        <script type="text/ng-template" id="{{ path('zym_resque_failures', { '_format': 'ajax' }) }}">
            {% include 'ZymResqueBundle:Failures:index.ajax.twig' %}
        </script>
    {% endif %}
{% endblock %}
