
<div class="md-toolbar-fixed-container" layout="column" layout-fill>
    <md-toolbar class="md-whiteframe-z1">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button animated bounceIn" aria-label="Toggle navigation" hide-gt-md ng-click="toggleSidebar()">
                <md-icon md-font-library="material-icons">menu</md-icon>
            </md-button>

            <h2>
                {{ 'Resque' | trans({}, 'ZymUserBundle') }}
            </h2>

            <span flex></span>

            <md-button class="md-icon-button animated bounceIn" aria-label="Refresh" ng-click="refresh()">
                <md-icon md-font-library="material-icons">refresh</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-content layout="row" flex ng-controller="ZymResqueFailuresCtrl">
        <div class="gridStyle" ui-grid="gridOptions" ui-grid-selection ui-grid-move-columns ui-grid-resize-columns ui-grid-cellNav flex="40"></div>

        <md-content ng-switch="!selectedRow" layout-padding layout-fill>
            <div ng-switch-when="false">
                <h3 class="text-danger">
                    Failure Details
                    <small>{% verbatim %}{{ selectedRow.entity.payload.id }}{% endverbatim %}</small>
                </h3>
                <h4>{% verbatim %}{{ selectedRow.entity.payload.class }}{% endverbatim %}</h4>

                <span class="pull-left">{% verbatim %}{{ selectedRow.entity.worker }}{% endverbatim %}</span>
                <span class="pull-right">{% verbatim %}{{ selectedRow.entity.queue }}{% endverbatim %}</span>

                <div class="clearfix"></div>

                <h4>{% verbatim %}{{ selectedRow.entity.exception }}{% endverbatim %}</h4>
                <span>{% verbatim %}{{ selectedRow.entity.error }}{% endverbatim %}</span>


                <h4>Arguments</h4>
                <pre class="pre-scrollable">{% verbatim %}{{ selectedRow.entity.payload.args |json }}{% endverbatim %}</pre>


                <h4>Backtrace</h4>
                <pre class="pre-scrollable">{% verbatim %}{{ selectedRow.entity.backtrace.join("\n\n") }}{% endverbatim %}</pre>
            </div>

            <div ng-switch-default>
                <div class="alert alert-info">
                    <span class="glyphicon glyphicon-info-sign"></span>
                    Select a record to view its details.
                </div>
            </div>
        </md-content>
    </md-content>
</div>