{%- set appName = (runtime_config('app.name') is empty ?  'Untitled App' : runtime_config('app.name')) |trans -%}
<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="{{ app.request.locale |e }}"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="{{ app.request.locale |e }}"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="{{ app.request.locale |e }}"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="{{ app.request.locale |e }}" id="ng-app">
<!--<![endif]-->
    <head>
        {% block head -%}
            <!-- Start: Meta -->
            {% block headMeta -%}
            <meta charset="UTF-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
            <!--
                <meta name="viewport" content="width=device-width, initial-scale=1" />
            -->
            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
            <meta name="fragment" content="!" />
            <meta name="robots" content="noindex, nofollow" />
            {% endblock -%}
            <!-- End: Meta -->

            <title>
                {%- block headTitle -%}
                    {%- block title -%}
                    {%- endblock -%}

                    {%- if block('title') |trim |length %} | {% endif -%}
                    {{- appName -}}
                {% endblock -%}
            </title>

            <base href="{{ app.request.baseUrl }}/" />

            <!-- Start: Links -->
            {% block headLinks -%}
            <link type="image/x-icon" rel="shortcut icon" href="{{ asset('themes/zym/images/favicon.ico') }}" />

            <!-- For iPhone 4 with high-resolution Retina display: -->
            <link type="image/png"    rel="apple-touch-glyphicon glyphicon-precomposed" sizes="114x114" href="{{ asset('themes/zym/images/apple-touch-glyphicon glyphicon-114x114-precomposed.png') }}" />

            <!-- For first-generation iPad: -->
            <link type="image/png"    rel="apple-touch-glyphicon glyphicon-precomposed" sizes="72x72"   href="{{ asset('themes/zym/images/apple-touch-glyphicon glyphicon-72x72-precomposed.png') }}"   />

            <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
            <link type="image/png"    rel="apple-touch-glyphicon glyphicon-precomposed"                 href="{{ asset('themes/zym/images/apple-touch-glyphicon glyphicon-precomposed.png') }}"         />

            <!-- About humans.txt http://humanstxt.org/ -->
            <link type="text/plain"   rel="author"      href="{{ asset('humans.txt') }}" />

            {% stylesheets filter="cssrewrite, less, autoprefixer, ?uglifycss" output="themes/zym/styles/layouts/assetic-anonymous.min.css"
                "themes/zym/styles/layouts/anonymous.less"
            -%}
            <link type="text/css"     rel="stylesheet"  href="{{ asset_url }}" />
            {% endstylesheets %}
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
            <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons" />
            {% endblock -%}
            <!-- End: Links -->

            <!-- Start: Styles -->
            {% block headStyles -%}
            {% endblock -%}
            <!-- End: Styles -->

            <!-- Start: Scripts -->
            {% block headScripts -%}
            {% javascripts filter='?uglifyjs2' output="themes/zym/scripts/assetic-head.min.js"
                "themes/zym/bower_components/modernizr/modernizr.js"
            -%}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts -%}
            {% endblock -%}
            <!-- End: Scripts -->
        {% endblock -%}
    </head>

    <body itemscope itemtype="http://schema.org/WebPage" class="{{ app.request.get('_route') }}" layout="row" auth-classes ng-controller="NavbarCtrl">
        {% block body -%}
        <!-- Start: Loading splash screen -->
        <div id="loading-splash" class="loading-splash animated bounceIn" layout="column" layout-fill ng-cloak>
            <div class="sk-spinner sk-spinner-three-bounce" flex>
                <div class="sk-bounce1"></div>
                <div class="sk-bounce2"></div>
                <div class="sk-bounce3"></div>
            </div>
        </div>
        <!-- End: Loading splash screen -->

        <md-sidenav id="aside" class="app-aside md-aside md-sidenav-left bg-dark sidebar hidden-print" role="navigation" tabindex="-1"
                    layout="column"
                    md-component-id="sidebar"
                    md-is-locked-open="$mdMedia('gt-md') && user"
                    ng-class="{ 'md-whiteframe-z3': $mdMedia('sm') || $mdMedia('md') }"
                    ng-cloak>
            <md-toolbar class="md-tall bg-primary" style="background-image: url(http://flatfull.com/themes/materil/angular/images/bg.png); background-size: cover;">
                <div class="md-toolbar-tools">
                    <a class="navbar-brand" href="/">
                        <img src="{{ asset('themes/zym/images/logo.png') }}" alt="{{ "%app_name%" | trans({ '%app_name%': appName }) }}" />
                        {{ appName |e }}
                    </a>
                </div>
                <div class="md-toolbar-tools">
                    <md-list>
                        <md-list-item>
                            <md-button class="md-icon-button" aria-label="User">
                                <img class="img-circle md-avatar md-whiteframe-z1" gravatar-src="user.emailCanonical" gravatar-size="64" alt="{% verbatim %}{{ user.emailCanonical }}{% endverbatim %}" width="32" />
                            </md-button>

                            <div class="md-list-item-text">
                                <h5>{% verbatim %}{{ user.fullName ? user.fullName : user.email ? user.email : user.username }}{% endverbatim %}</h5>
                            </div>
                        </md-list-item>
                    </md-list>
                </div>
            </md-toolbar>

            <nav class="navi">
                <ul class="nav nav-sidebar">
                    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                        <span translate="sidebar.nav.HEADER" class="ng-scope">Navigation</span>
                    </li>
                </ul>

                <script type="text/ng-template" id="/templates/sidenav/accordion.html">
                    <ul class="nav nav-sidebar" ng-transclude></ul>
                </script>

                <script type="text/ng-template" id="/templates/sidenav/accordion-group.html">
                    <li ng-class="{ 'active': isOpen }">
                        <a href tabindex="0" class="accordion-toggle" ng-class="{ 'auto': isOpen }" ng-click="toggleOpen()" accordion-transclude="heading" md-ink-ripple>
                            <span ng-class="{ 'text-muted': isDisabled }">{% verbatim %}{{ heading }}{% endverbatim %}</span>

                            <i class="pull-right text-muted fa fa-fw" ng-class="{ 'fa-angle-down text-active': isOpen, 'fa-angle-right text': !isOpen }"></i>
                        </a>

                        <div ng-transclude></div>
                    </li>
                </script>

                <accordion template-url="/templates/sidenav/accordion.html">
                    <accordion-group template-url="/templates/sidenav/accordion-group.html">
                        <accordion-heading>
                            <i class="fa fa-fw fa-user"></i>

                            {{ 'People' |trans }}
                        </accordion-heading>

                        <ul class="nav nav-sub dk">
                            <li ui-sref-active="active">
                                <a ui-sref="admin.people.users" md-ink-ripple>
                                    {{ 'Users' |trans }}
                                </a>
                            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="admin.people.groups" md-ink-ripple>
                                    {{ 'Groups' |trans }}
                                </a>
                            </li>
                        </ul>
                    </accordion-group>

                    <accordion-group template-url="/templates/sidenav/accordion-group.html">
                        <accordion-heading>
                            <i class="fa fa-fw fa-database"></i>

                            {{ 'Resque' |trans }}
                        </accordion-heading>

                        <ul class="nav nav-sub dk">
                            <li ui-sref-active="active">
                                <a ui-sref="admin.resque" md-ink-ripple>
                                    {{ 'Dashboard' |trans }}
                                </a>
                            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="admin.resque.failures" md-ink-ripple>
                                    {{ 'Failures' |trans }}
                                </a>
                            </li>
                        </ul>
                    </accordion-group>
                </accordion>
            </nav>

            <div flex></div>

            <nav class="navi m-b-md">
                <ul class="nav nav-sidebar">
                    <li ui-sref-active="active">
                        <a ui-sref="login" auth-logout md-ink-ripple>
                            <span>
                                <i class="fa fa-fw fa-power-off"></i>

                                {{ 'Log out' |trans }}
                            </span>
                        </a>
                    </li>
                </ul>
            </nav>
        </md-sidenav>

        <div class="md-whiteframe-z2" style="z-index: 1" layout="column" layout-fill ng-cloak>
            <a href="#content" class="sr-only">{{ 'Skip to main content' |trans }}</a>

            <!-- Start: Document -->
            <div class="alerts">
                <!-- Start: Flash Messages -->
                {% if is_granted("ROLE_PREVIOUS_ADMIN") %}
                    <div class="alert alert-block alert-info fade in">
                        <div class="container">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            {{ 'You are currently logged in as' | trans }} <strong>{{ app.user.username |e }}</strong>.
                            <a class="" href="?_switch_user=_exit" target="_self">{{ 'Log out as user' |trans }}</a>.
                        </div>
                    </div>
                {% endif %}

                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="alert alert-dismissable alert-{{ type }}">
                            <div class="container">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                {% if type == 'success' %}
                                    <span class="glyphicon glyphicon-ok"></span>
                                {% elseif type == 'info' %}
                                    <span class="glyphicon glyphicon-info-sign"></span>
                                {% elseif type == 'warning' %}
                                    <span class="glyphicon glyphicon-warning-sign"></span>
                                {% elseif type == 'danger' %}
                                    <span class="glyphicon glyphicon-minus-sign"></span>
                                {% endif %}

                                {{ message }}
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
                <!-- End: Flash Messages -->

                <div style="clear:both"></div>
            </div>

            <!-- Start: Javascript requirement -->
            <noscript>
                <div class="modal-dialog animated fadeIn">
                    <div class="modal-content">
                        <div class="modal" style="position: static; margin: 0 auto; display: block; overflow-y: auto;">
                            <div class="modal-header">
                                <h1 class="modal-title">
                                    {{ 'JavaScript is required' | trans }}
                                </h1>
                            </div>

                            <div class="modal-body">
                                <div class="media">
                                    <span class="glyphicon glyphicon-minus-sign text-danger media-object pull-left" style="font-size: 300%;"></span>

                                    <div class="media-body">
                                        <p>{% trans %}This application utilizes JavaScript for enhanced functionality and user experience. Your browser may not have JavaScript or it may be disabled.{% endtrans %}</p>

                                        <p>{{ 'Please enable JavaScript to continue.' | trans }}</p>
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <a class="btn btn-primary" href="https://support.google.com/adsense/answer/12654" target="_blank">{{ 'Learn how to enable JavaScript' |trans }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </noscript>
            <!-- End: Javascript requirement -->

            <!-- Start: Content -->
            <md-content id="content" class="content" layout="column" flex
                        ui-view>
                {% block content "" %}
            </md-content>
            <!-- End: Content -->

            <!-- Start: Footer -->
            <!--
            <footer id="footer" class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright pull-left">
                                &copy; {{ 'now' |date('Y') }} <a href="http://zymlabs.com/" title="Zym Labs: Software Solutions, We built this!">Zym Labs, LLC</a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            -->
            <!-- End: Footer -->
        </div>

        <!-- Start: Inline Scripts -->
        {% block inlineScripts -%}
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript">
            window.jQuery || document.write('<script type="text/javascript" src="{{ asset('themes/zym/bower_components/jquery/dist/jquery.js') }}">\x3C/script>')
        </script>

        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.17/angular.min.js"></script>
        <script type="text/javascript">
            window.angular || document.write('<script type="text/javascript" src="{{ asset('themes/zym/bower_components/angular/angular.min.js') }}">\x3C/script>')
        </script>

        <!--[if lte IE 10 ]>
        <script type="text/javascript" src="{{ asset('themes/zym/scripts/js-webshim/minified/polyfiller.js') }}"></script>
        <script type="text/javascript">
            $.webshims.polyfill();
        </script>

        <script type="text/javascript">
            // Internet Explorer 10 doesn't differentiate device width from viewport width,
            // and thus doesn't properly apply the media queries in Bootstrap's CSS. To address
            // this, you can optionally include the following CSS and JavaScript to work around
            // this problem until Microsoft issues a fix.

            if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
                var msViewportStyle = document.createElement("style")
                msViewportStyle.appendChild(
                    document.createTextNode(
                        "@-ms-viewport{width:auto!important}"
                    )
                )
                document.getElementsByTagName("head")[0].appendChild(msViewportStyle)
            }
        </script>
        <![endif]-->

        <script type="text/javascript">
            // On <select> elements, the Android stock browser will not display the side controls
            // if there is a border-radius and/or border applied. Use the snippet of code below
            // to remove the offending CSS and render the <select> as an unstyled element on the
            // Android stock browser. The user agent sniffing avoids interference with Chrome,
            // Safari, and Mozilla browsers.
            var nua = navigator.userAgent;
            var isAndroid = (nua.indexOf('Mozilla/5.0') > -1 && nua.indexOf('Android ') > -1 && nua.indexOf('AppleWebKit') > -1 && nua.indexOf('Chrome') === -1);
            if (isAndroid) {
                $('select.form-control').removeClass('form-control').css('width', '100%');
            }
        </script>

        {% javascripts filter='?uglifyjs2' output="themes/zym/scripts/assetic-bootstrap.min.js"
            "themes/zym/bower_components/angular-animate/angular-animate.js"
            "themes/zym/bower_components/angular-aria/angular-aria.js"
            "themes/zym/bower_components/angular-bootstrap/ui-bootstrap.js"
            "themes/zym/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"
            "themes/zym/bower_components/angular-bootstrap-src/src/accordion/accordion.js"
            "themes/zym/bower_components/angular-cookies/angular-cookies.js"
            "themes/zym/bower_components/angular-gravatar/build/angular-gravatar.js"
            "themes/zym/bower_components/angular-hitmands-auth/release/angular-hitmands-auth.js"
            "themes/zym/bower_components/angular-loading-bar/build/loading-bar.js"
            "themes/zym/bower_components/angular-material/angular-material.js"
            "themes/zym/bower_components/angular-messages/angular-messages.js"
            "themes/zym/bower_components/angular-touch/angular-touch.js"
            "themes/zym/bower_components/angular-ui-grid/ui-grid.js"
            "themes/zym/bower_components/angular-ui-router/release/angular-ui-router.js"
            "bundles/fosjsrouting/js/router.js"
        -%}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts -%}

        {% javascripts filter='?uglifyjs2' output="themes/zym/scripts/assetic-zym-user-bundle.min.js"
            "themes/zym/scripts/zym-user-bundle.js"
            "themes/zym/scripts/ZymUserBundle/*.js"
        -%}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts -%}

        {% javascripts filter='?uglifyjs2' output="themes/zym/scripts/assetic-zym-resque-bundle.min.js"
            "themes/zym/scripts/zym-resque-bundle.js"
            "themes/zym/scripts/zym-resque/*.js"
        -%}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts -%}

        {% javascripts filter='?uglifyjs2' output="themes/zym/scripts/assetic-app.min.js"
            "themes/zym/scripts/app.js"
            "themes/zym/scripts/app/*.js"
        -%}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts -%}

        <!-- Start: Offline.js -->
        <script type="text/javascript">
            var Offline = Offline || {};
            Offline.options = {
                checks: {
                    image: {
                        url: function() {
                            return "/images/blank.gif?" + (Math.floor(Math.random() * 1000000000));
                        }
                    },
                    active: 'xhr'
                }
            };
        </script>
        <!-- End: Offline.js -->

        <!-- Start: FOSJsRoutingBundle -->
        <script type="text/javascript" src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
        <!-- End: FOSJsRoutingBundle -->


        <script type="text/javascript">
            angular.element(document).ready(function() {
                angular.bootstrap(document, ['app']);
            });
        </script>
        {% endblock -%}
        <!-- End: Inline Scripts -->

        <!-- End: Document -->
        {% endblock body -%}
    </body>
</html>
