{% extends "ZymMailBundle::layout.html.twig" %}

{% block title %}{{ 'Queues' | trans({}, 'ZymResqueBundle') }}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>
                    {{ 'Queues List' | trans({}, 'ZymResqueBundle') }}
                    <small>All items in queues</small>
                </h1>
            </div>
        </div>
    </div>

    <div class="navbar navbar-default">
        <div class="navbar-collapse">
            <div class="btn-toolbar">
                <div class="btn-group">
                    <a class="btn btn-default navbar-btn" href="javascript: history.back();">
                        <span class="icon-arrow-left"></span>
                        {{ 'Back' | trans({}, 'ZymResqueBundle') }}
                    </a>
                </div>
            </div>
        </div>
    </div>

    {% for queue in queues %}
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            {{ queue.name }}
                        </h3>
                    </div>

                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th class="span5">
                                Name
                            </th>
                            <th class="span5">
                                Args
                            </th>
                        </tr>
                        </thead>

                        {% for job in queue.jobs %}
                            <tr>
                                <td>{{ job.name }}</td>
                                <td>
                                    {{ job.args | json_encode }}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="2">
                                    <em>empty...</em>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>

                    {% if queues |length <= 0 %}
                        <p>No items in queue.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
