{% if not app.request.query.has('_escaped_fragment_') %}
<script type="text/ng-template" id="{{ path('zym_user_users', { '_format': 'ajax' }) }}">
{% endif %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar hidden-print animated slideInLeft">
            <ul class="nav nav-sidebar">
                <li ui-sref-active="active">
                    <a ui-sref="admin.users">{{ 'Users' | trans({}, 'ZymUserBundle') }}</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="admin.users.groups">{{ 'Groups' | trans({}, 'ZymUserBundle') }}</a>
                </li>
            </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 animated fadeIn" ui-view>
            {% block content "" %}
        </div>
    </div>
</div>
{% if not app.request.query.has('_escaped_fragment_') %}
</script>
{% endif %}
