{% extends "ZymUserBundle::layout.html.twig" %}

{% block title %}{{ 'Groups' | trans({}, 'ZymUserBundle') }}{% endblock %}

{% block content %}
    {% if app.request.query.has('_escaped_fragment_') %}
        {% include 'ZymUserBundle:Groups:list.ajax.twig' %}
    {% else %}
        <script type="text/ng-template" id="{{ path('zym_user_groups', { '_format': 'ajax' }) }}">
            {% include 'ZymUserBundle:Groups:list.ajax.twig' %}
        </script>
    {% endif %}
{% endblock %}
